/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.background {
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#bigtext {
    padding-top: 170px;
    padding-left: 30px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #f2f2f2;
}

#smalltext {
    padding-left: 400px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    color: #f2f2f2;
}

.button {
    margin-top: auto;
    background-color: white;
    border: none;
    color: #6495ED;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: white;
    color: #6495ED;
    border: 2px solid #6495ED;
}




.container {
    display: flex;
    /* align-items: right;*/
    justify-content: center;
}

img {
    max-width: 100%
}

.image {
    flex-basis: 40%
}

body {
    height: 100%;
    width: 100%;
    text-align: center;
    background: #f2f2f2;
}

.wrapper {
    display: grid;
    margin: 200px 90px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (max-width: 700px) {
    .wrapper {
        margin: 200px auto;
    }
}

.wrapper .box {
    width: 350px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
}

    .wrapper .box .front-face {
        background: #fff;
        height: 220px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
        transition: all 0.5s ease;
    }

.box .front-face .icon {
    height: 80px;
}

    .box .front-face .icon i {
        font-size: 65px;
    }

.box .front-face span,
.box .back-face span {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.box .front-face .icon i,
.box .front-face span {
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    /* -webkit-background-clip: text;*/
    -webkit-text-fill-color: transparent;
}

.box .back-face {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

    .box .back-face p {
        margin-top: 10px;
        text-align: justify;
    }

.box:hover .back-face {
    opacity: 1;
    transform: rotateX(0deg);
}

.box:hover .front-face {
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
}
/*store*/

#storetitle {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #6495ED;
    font-size: 28px;
    font-weight: 300;
    flex: 1;
    margin-left: 0px;
}


h5 {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.7em;
}


h6 {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    font-size: 14px;
}

/* Product Layout */

.product-filter {
    display: flex;
    padding: 30px 0;
}

.sort {
    display: flex;
    align-self: flex-end;
}

.collection-sort {
    display: flex;
    flex-direction: column;
}

    .collection-sort:first-child {
        padding-right: 20px;
    }


.product-card:focus {
    opacity: 0.2;
}

label {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-right: 70px;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 1 16%;
    background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-image img {
    width: 100%;
    height: 300px;
}

.product-info {
    margin-top: auto;
    padding-top: 2em;
    text-align: center;
}

/*our sellers */

.blog-card {
    position: relative;
    margin-top: 150px;
    height: 370px;
    width: 95%;
    max-width: 850px;
    margin-left: 300px;
    border-radius: 25px;
    background: white;
    box-shadow: 0px 10px 50px rgba(157, 120, 229, .3);
}

.inner-part {
    position: absolute;
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

#imgTap:checked ~ .inner-part {
    padding: 0;
    transition: .1s ease-in;
}

.inner-part .img {
    height: 260px;
    width: 260px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(157, 120, 229, 0.1);
}

#imgTap:checked ~ .inner-part .img {
    height: 370px;
    width: 850px;
    z-index: 99;
    margin-top: 10px;
    transition: .3s .2s ease-in;
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    transition: .6s;
}

#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3 {
    opacity: 1;
    transition-delay: .2s;
}

.content {
    padding: 0 20px 0 35px;
    width: 530px;
    margin-left: 50px;
    opacity: 0;
    transition: .6s;
}

#imgTap:checked ~ .inner-part .content {
    display: none;
}

#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3 {
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
}

.content span {
    display: block;
    color: #7b7992;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500
}

.content .title {
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}

.content .text {
    color: #4e4a67;
    font-size: 19px;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
}

.content button {
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: 1px solid #a4508b;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

    .content button:hover {
        border: 1px solid #a4508b;
        background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
    }

.sliders {
    position: absolute;
    bottom: 25px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 12;
}

#imgTap:checked ~ .sliders {
    display: none;
}

.sliders .tap {
    position: relative;
    height: 10px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}

    .sliders .tap:hover {
        background: #cccccc;
    }

    .sliders .tap:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: -100%;
        background: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
        border-radius: 10px;
        transform: scaleX(0);
        transition: transform .6s;
        transform-origin: left;
    }

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before {
    transform: scaleX(1);
    width: 100%;
}


/*BUSINESSPAGE*/

