@page
@model IndividualProject.Pages.IdeationDocumentModel
@{
}

<div align="center" style="background-color:darkcyan; color:wheat; font-size:30px">Ideation Document</div>
<div style="padding: 0 5% 0 5%">
<embed src="~/pics/IdeationDocument.pdf" style ="width:100%"; height:600px">
</div>