@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

 <div class="background">
  <div class="container">
      <div class="text">
        <h1 id="bigtext"><b> THE BEST SOLUTION FOR<br> SMALL <br> BUSINESSES.</b> </h1>
        <h3 id="smalltext"> and the best place for the perfect gift! </h3>
        <a class="button" a asp-area="" asp-page="/LoginPage">Click here to start!</a>

        <div class="card login-form" id="login-show">

        </div>

      </div>
  </div>
 </div>

  <div class="wrapper">
    <div class= "box">
      <div class="front-face">
          <div class="icon"><i class="fa-solid fa-brush"></i></div>
          <span>Unique gifts</span>
      </div>
      <div class="back-face">
      <span> Unique gifts</span>
      <p>Discover the best gifts for your loved ones!<br>Here is a place for the best artists<br>
      who are waiting to be discovered</p>
      </div>
    </div>

    <div class= "box">
      <div class="front-face">
          <div class="icon"><i class="fa-solid fa-basket-shopping"></i></div>
          <span>A marketplace for all</span>
      </div>
      <div class="back-face">
      <span>A marketplace for all</span>
      <p>Here we value the talented people that have dreams!<br>Either if your dream is to make art or to bring<br>
       art into your life, you're in the right place!</p>
      </div>
    </div>

    <div class= "box">
      <div class="front-face">
          <div class="icon"><i class="fa-solid fa-hand-sparkles"></i></div>
          <span>Share the joy</span>
      </div>
      <div class="back-face">
      <span>Share the joy</span>
      <p>Bring happiness to you and to others! By supporting small<br> artist you can really make a change with<br> your purchaces!</p>
      </div>
    </div>
  </div>
