@page
@model IndividualProject.Pages.OurSellersModel
@{
   
}

<link rel="stylesheet" href="~/css/oursellers.css" />

<div class="blog-card">
    <input type="radio" name="select" id="tap-1" checked>
    <input type="radio" name="select" id="tap-2">
    <input type="radio" name="select" id="tap-3">
    <input type="checkbox" id="imgTap">
    <div class="sliders">
        <label for="tap-1" class="tap tap-1"></label>
        <label for="tap-2" class="tap tap-2"></label>
        <label for="tap-3" class="tap tap-3"></label>
    </div>
    <div class="inner-part">
        <label for="imgTap" class="img">
            <img class="img-1" src="pics/b1logo.jpeg">
        </label>
        <div class="content content-1">
            <span>Romania through feminine eyes!</span>
            <div class="title">
                Romance
            </div>
            <div class="text">
                Discover the beautiful culture of Romania through beautiful <br>
                patterns and illustrations!These products are made for bringing<br>
                a little bit of color in your life!
            </div>
            <button>View products</button>
        </div>
    </div>
    <div class="inner-part">
        <label for="imgTap" class="img">
            <img class="img-2" src="pics/b2logo.jpeg">
        </label>
        <div class="content content-2">
            <span>Beauty is luxury!</span>
            <div class="title">
                Lux Regal
            </div>
            <div class="text">
                We think that simple things can become luxurious after a little<br>
                bit of care and love! Because everyone deserves a special gift<br>
                we are creating constantly unique products for every taste!
            </div>
            <button>View products</button>
        </div>
    </div>
    <div class="inner-part">
        <label for="imgTap" class="img">
            <img class="img-3" src="pics/b3logo.jpeg">
        </label>
        <div class="content content-3">
            <span>Every stone has a story</span>
            <div class="title">
                Venus
            </div>
            <div class="text">
                Did you know that statues are one of the first forms of art?<br>
                Well, we want to bring them back! Unfourtunately we can't just<br>
                put a statue in our livingroom but we found a fun solution for that!
            </div>
            <button>View products</button>
        </div>
    </div>
</div>